interface {{pascalCase name}}PresenterProps {}

const {{pascalCase name}}Presenter: React.FC<{{pascalCase name}}PresenterProps> = ({}) => {
  return <div></div>;
};

export default {{pascalCase name}}Presenter;
