interface {{pascalCase name}}ContainerProps {}

const {{pascalCase name}}Container: React.FC<{{pascalCase name}}ContainerProps> = ({}) => {
  return <div></div>;
};

export default {{pascalCase name}}Container;
